<article id="about">
    <p 
    
    class="article-name">
    <span>About</span>
        me
        
    </p>
    <h2>
        Who i am
    </h2>
    <section>

        <div class="about-container">
            <div class="about-name">
                <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <path d="M12 3a4 4 0 1 0 0 8 4 4 0 1 0 0-8z"></path>
                </svg>
                <h3>Personal data</h3>
            </div>
            <div class="group">
                <div class="data p">
                    <p class="data-title">Date of birth: </p>
                    <span>06/10/2000</span>
    
                </div>
                <div class="data"> 
                    <p class="data-title">Nationality: </p>
                    <span>Argentina</span>
                </div>
            </div>
            
        </div>

        <div class="about-container">
            <div class="about-name">
                <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                    <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>
                <h3>Education</h3>
            </div>
            <div class="edication-name group" >
                <div class="education p">
                    <p class="education-title">Education degree high school</p>
                    <p>Escuela de Educacion Secundaria n°1</p>
                    <p>year of graduation: 2018</p>
                </div>
                <div class="education">
                    <p class="education-title">Computer applications development technician</p>
                    <p>Unicen, universidad del centro, Tandil-Sede en Tres Arroyos</p>
                    <p>year of graduation: 2023</p>
                </div>
            </div>
        </div>

        <div class="about-container">
            <div class="about-name">
                <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                </svg>
                <h3>Courses</h3>
            </div>
            <ul class="group ">
                <li class="p">
                    Javascript course
                </li>
                <li>
                    Angular course
                </li>
                <li>
                    Community manager course
                </li>
            </ul>
        </div>

        <div class="about-container">
            <div class="about-name">
                <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg>
                <h3>Languages</h3>
            </div>
            <ul class="group ">
                <li class="p">
                    Spaing - Native
                </li>
                <li>
                    English - Intermediate
                </li>
            </ul>
        </div>

    </section>



</article>
