<article>

    <section class="presentation-info">
        <p>
            <span>Hello,</span>
            i'm 
        </p>
        <h1>
            Rust Matias
        </h1>
        <p>Web and Software developer</p>

        <div class="info-pc">
            <a href="#contact" class="contact-me">Contact me</a>
            <p>
                Check Out My
            </p>
            <ul>
                <li>
                    <a href="">
                        <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.25 22.5v-3.865a3.361 3.361 0 0 0-.94-2.607c3.14-.35 6.44-1.538 6.44-6.99a5.43 5.43 0 0 0-1.5-3.746 5.058 5.058 0 0 0-.09-3.765s-1.18-.35-3.91 1.478a13.397 13.397 0 0 0-7 0C6.52 1.177 5.34 1.527 5.34 1.527a5.058 5.058 0 0 0-.09 3.765 5.43 5.43 0 0 0-1.5 3.775c0 5.413 3.3 6.602 6.44 6.991a3.366 3.366 0 0 0-.94 2.577V22.5"></path>
                            <path d="M9.25 19.503c-5 1.498-5-2.496-7-2.996"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path>
                            <path d="M8.56 2.75c4.37 6.03 6.02 9.42 8.03 17.72"></path>
                            <path d="M19.13 5.09c-3.72 4.35-8.94 5.66-16.88 5.85"></path>
                            <path d="M21.75 12.84c-3.5-.93-6.63-.82-8.94 0-2.58.92-5.01 2.86-7.44 6.32"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                            <path d="M2 9h4v12H2z"></path>
                            <path d="M4 2a2 2 0 1 0 0 4 2 2 0 1 0 0-4z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </section>
    <img src="./assets/person.png" alt="person - developer - MatiasRust - Rust - Matias">

    <section class="presentation-links">
        <a href="#contact" class="contact-me">Contact me</a>
        <p>
            Check Out My
        </p>
        <ul>
            <li>
                <a href="">
                    <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.25 22.5v-3.865a3.361 3.361 0 0 0-.94-2.607c3.14-.35 6.44-1.538 6.44-6.99a5.43 5.43 0 0 0-1.5-3.746 5.058 5.058 0 0 0-.09-3.765s-1.18-.35-3.91 1.478a13.397 13.397 0 0 0-7 0C6.52 1.177 5.34 1.527 5.34 1.527a5.058 5.058 0 0 0-.09 3.765 5.43 5.43 0 0 0-1.5 3.775c0 5.413 3.3 6.602 6.44 6.991a3.366 3.366 0 0 0-.94 2.577V22.5"></path>
                        <path d="M9.25 19.503c-5 1.498-5-2.496-7-2.996"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path>
                        <path d="M8.56 2.75c4.37 6.03 6.02 9.42 8.03 17.72"></path>
                        <path d="M19.13 5.09c-3.72 4.35-8.94 5.66-16.88 5.85"></path>
                        <path d="M21.75 12.84c-3.5-.93-6.63-.82-8.94 0-2.58.92-5.01 2.86-7.44 6.32"></path>
                      </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="30" height="30" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                        <path d="M2 9h4v12H2z"></path>
                        <path d="M4 2a2 2 0 1 0 0 4 2 2 0 1 0 0-4z"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </section>
    

</article>
